{{define "index"}}
<!DOCTYPE html>
<html>
    <head>
        {{template "header"}}
    </head>
    <body>
        <p>Page: Index</p>
        <p>Welcome {{.Nama}}</p>
    <footer>
	{{template "footer"}}
    </footer>
    </body>
</html>
{{end}}