<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{template "title" .}}</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <header></header>
    <main>
        {{template "main" .}}
    </main>
    <h1>Selamat Datang di VOCVERSE</h1>

    <p>Daftar Antrian:</p>
    <ol>
        {{range .StrukturData}}
        <li>{{.}}</li>
        {{ end }}
    </ol>
</body>
</html>